.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.leftSideHome {
  flex: 0.18;
  padding: 40px 10px 25px 15px;
}

.middleSideHome {
  border-left: 1px solid #e1e1e1;
  flex: 0.5;
}

.rightSideHome {
  flex: 0.32;
}

@media screen and (min-width: 920px) and (max-width: 1140px) {
  .rightSideHome {
    display: none;
  }
  .leftSideHome {
    flex: 0.2;
  }
  .middleSideHome {
    flex: 0.8;
  }
}

@media screen and (min-width: 320px) and (max-width: 920px) {
  .rightSideHome {
    display: none;
  }
  .leftSideHome {
    display: none;
  }
  .middleSideHome {
    flex: 1;
  }
}
